.clear {
    clear: both;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    min-width: 550px;
}

header{
    position: relative;
    height: 90px;
    background-color: #03436A;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 0px;
    min-width: 390px;
}

header #header_logo{
    float: left;
}

header #header_logo img{
    float: left;
    padding-top: 3.3em;
    padding-left: 3em;
}

header #header_logo h1{
    float: left;
    padding-top: 1.35em;
    padding-left: 0.15em;
    margin: 0px;
    color :#FFF;
}

header #header_opciones{
    float: right;
    padding: 3.3em 2em 0em 0em;
}

header #header_opciones img{
    float: left;
    padding-top: 1.8em;
}

header #header_opciones p{
    float: left;
    color: #FFF;
    margin: 0px;
    padding-top: 1.8em;
}

aside{
    position: relative;
    float: left;
    width: 200px;
    height: calc(100% - 90px);
    background-color: #D8D8D8;
    min-height: 200px;
}

section{
    position: relative;
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 125px);
    background-color: #81BEF7;
}

footer{
    position: relative;
    float: left;
    width: calc(100% - 200px);
    padding-top: 1em;
}
footer div{
    position: absolute;
    width: 86%;
    left: 7%;
    border: 1px solid #BDBDBD;
}

footer p{
    position: relative;
    width: 300px;
    left: 7%;
    margin: 0.3em 0em 0.3em 0em;
    font-size: 0.8em;
    color: #848484;
}
