/*.IE header{
    height: 70px;
}
*/
.clear {
    clear: both;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    min-width: 580px;
}

header{
    float: left;
    height: 90px;
    background-color: #03436A;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 0px;
    min-width: 390px;
}

header #header_logo{
    float: left;
    width: 320px;
}

header #header_logo img{
    float: left;
    padding-top: 3.3em;
    padding-left: 3em;
}

header #header_logo h1{
    float: left;
    padding-top: 1.35em;
    padding-left: 0.15em;
    margin: 0px;
    color :#FFF;
}

header #header_opciones{
    float: right;
    width: 210px;
    padding: 3.3em 2em 0em 0em;
}

header #header_opciones #nav_cuenta{
    float: left;
    padding-top: 1.8em;
}

header ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header #nav_cuenta #opciones_cuenta{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

header #nav_cuenta #opciones_cuenta li a{ 
    padding: 10px 15px;
    background: #FFF; 
    color: #000;
    display: block;
}

header #nav_cuenta #opciones_cuenta li a:hover{ 
    background-color: #F2F2F2;

}

header #nav_cuenta li ul{
    display: none;
    position: absolute;
    min-width: 180px;
}

header #nav_cuenta li:hover > ul {
    display: block;
}

header #header_opciones p{
    float: left;
    color: #FFF;
    margin: 0px;
    padding-top: 1.8em;
}

aside{
	float: left;
    width: 200px;
    height: 80%;
    background-color: #D8D8D8;
    min-height: 200px;
}

aside h3{
   margin: 2em 0em 0em 0.3em;
}

aside ul{
    list-style: none;
    margin: 0em 0em 0em 1.5em;
}

aside ul li a{
    display: block;
    color: #333;
    padding: 0.5em 0em;
}

section{
	float: left;
	width: 70%;
	height: 80%;
}

footer{
    width: 100%;
}

footer div{
    position: absolute;
    width: 86%;
    left: 7%;
    border: 1px solid #BDBDBD;
}

footer #copyright{
    position: relative;
    width: 300px;
    left: 7%;
    margin: 0.3em 0em 0.3em 0em;
    font-size: 0.8em;
    padding-top: 0.5em; 
    color: #848484;
}
