body{
	min-width: 400px;
}

section{
	width: 100%;
	min-height: 410px;
}

 section div {
 	margin: 30px auto;
	width: 30%;
	min-width: 400px;
}

td{
	width: auto;
}

header #header_opciones{
	width: 170px;
    padding: 3.3em 0em 0em 0em;
}