body{
    min-width: 820px;
}

section{
    width: 75%;
    min-height: 500px;
}

#tabla_asistencias{
	overflow: scroll;
    position: relative;
    top: 70px;
    margin: auto;
    width: 90%;   
    height: 80%;
}
