body{
    font-family: "Arial","Courier","Times","Sans-Serif";
}

section{
    color: #610B0B;
    min-height: 500px;
}

nav#menu_rubro a:hover{
    font-weight: bold;
    text-decoration: none;
    color: #B40404;
}

nav#menu_rubro a:active{
    color: #FE2E2E;
}


nav#menu_rubro{
    position: relative; 
    top: 12%;
    left: 10%;
}

nav#menu_rubro p{
    position: relative; 
    padding-bottom: 5%;
    font-size: 2.1em;
}

nav#menu_rubro ul li{
    font-size: 1.5em;
    padding-bottom: 3%;
}

