header #header_opciones{
    float: right;
    width: 240px;
    padding: 3.3em 2em 0em 0em;
}


section{
    min-width: 340px;
    color: #610B0B;
}

nav#menu_practica a:hover{
    font-weight: bold;
    text-decoration: none;
    color: #B40404;
}

nav#menu_practica a:active{
    color: #FE2E2E;
}



nav#menu_practica{
    position: relative; 
    padding: 40px 0 0 40px;
}

nav#menu_practica p{
    position: relative; 
    padding-bottom: 5%;
    font-size: 2.1em;
}

nav#menu_practica ul li{
    font-size: 1.5em;
    padding-bottom: 3%;
}

@media ( max-width: 605px ){
    header{
        height: 120px;
    }
    
    div.container-fluid{
        padding-top: 130px;
    }
                
    header #header_opciones{
        float: left;
        width: 240px;
        padding: 0em 0em 0em 3em;
    }

    header #header_opciones #nav_cuenta{
        float: left;
        padding-top: 0.5em;
    }

    header #header_opciones p{
        float: left;
        color: #FFF;
        margin: 0px;
        padding-top: 0.7em;
    }
}

@media ( max-width: 340px ){
    header #header_logo img{
         padding-left: 0;
    }
    
    header #header_opciones{
        padding-left: 0;
    }
}