body{
    font-family: "Arial","Courier","Times","Sans-Serif";
    min-width: 925px;
}


section{
    color: #610B0B;
    min-height: 400px;
    width: auto;
}

nav#menu_practica a:hover{
    font-weight: bold;
    text-decoration: none;
    color: #B40404;
}

nav#menu_practica a:active{
    color: #FE2E2E;
}


nav#menu_practica{
    position: relative; 
    min-width: 600px;
    padding: 70px 0 0 100px;

}

nav#menu_practica ul{
    height: 300px;
    overflow: scroll;
}

nav#menu_practica p{
    position: relative; 
    padding-bottom: 5%;
    font-size: 2.1em;
}

nav#menu_practica ul li{
    font-size: 1.5em;
    padding-bottom: 3%;
}

