section{
    width: 100%;    
}

#formulario_registro{
    margin: auto;
    padding: 2em 0em;
    width: 230px;
}

#formulario_registro h2{
    margin: 0px;
    padding: 0px;
}

#formulario_registro label{
    margin: 0px;
    padding: 0px;
}

#formulario_registro #enviar{
    padding: .1em .8em .1em .8em;
    background-color: #03436A;
    color: white;
}

@media ( max-width: 380px ){
    header #header_logo img{
        float: left;
        padding-top: 3.3em;
        padding-left: 0.7em;
    }
}