body{
    font-family: "Arial","Courier","Times","Sans-Serif";
    min-width: 600px;
}

header{
    min-width: 600px;
}

aside{
    float: left;
    background-color: #fff;
    width: 50%;
    min-height: 530px;
}

#alta_curso_izq, #alta_curso_der{
    width: 230px;
    padding: 3em  0em 0em 0em;
    margin: auto;
}

#alta_curso_der p{
    text-align: center;
}