body{
    min-width: 340px; 
}

section{
    width: 100%;
    min-height: 430px;
    padding: 0px;
    margin: 0px;
}

#formulario_registro{
    margin: auto;
    padding: 2em 0em;
    width: 230px;
}

#formulario_registro h2{
    margin: 0px;
    padding: 0px;
}

#formulario_registro label{
    margin: 0px;
    padding: 0px;
}

#formulario_registro #enviar{
    padding: .1em .8em .1em .8em;
    background-color: #03436A;
    color: white;
}
