header #header_opciones{
    float: right;
    width: 240px;
    padding: 3.3em 2em 0em 0em;
}

div#tabla{
    min-width: 340px;
    overflow: scroll;
    overflow-y: hidden;
    border: 1px solid #cccccc;
}

div#wrapper2{
    min-width: 340px;
    max-width: 1000px;
    margin: auto;
}

#tabla_calificaciones{
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
}

h2{
    text-align: center; 
}

.chbx{
    margin: 0.3em;
}

.cell-columna-alumno{
    min-width: 200px;
    width: 200px;
}

.cell-columna{
    min-width: 100px;
    width: 100px;
}

input.name-input{
    font-weight: bold;
    width: 100px;
    margin-bottom: 0;
    padding: 1px;
    border: 0;
}

input[readOnly]{
    background-color: #A4A4A4;
}

#hoja_evaluacion .td-disabled{
    background-color: #A4A4A4;
}

input.notes-input{
    width: 40px;
    margin-bottom: 0;
    padding: 1px;
    border: 0;
}

#hoja_evaluacion{
    padding: 0;
    margin: 0;
}

#hoja_evaluacion .chbx{
    margin: 0.3em;
}

button{
    margin-top: 40px;
}

@media ( max-width: 605px ){
    header{
        height: 120px;
    }
    
    div.container-fluid{
        padding-top: 130px;
    }
                
    header #header_opciones{
        float: left;
        width: 240px;
        padding: 0em 0em 0em 3em;
    }

    header #header_opciones #nav_cuenta{
        float: left;
        padding-top: 0.5em;
    }

    header #header_opciones p{
        float: left;
        color: #FFF;
        margin: 0px;
        padding-top: 0.7em;
    }
}

@media ( max-width: 340px ){
    header #header_logo img{
         padding-left: 0;
    }
    
    header #header_opciones{
        padding-left: 0;
    }
}

