#error{
    width: 300px;
    position: relative;
    margin: 90px auto;
}

#titulo_error{
    display: inline;
    margin: 20px 108px;
}

#imagen_error{
    display: block;
    margin: 30px auto;
}

.lead {
    text-align: center;
}

@media ( max-width: 380px ){
    header #header_logo img{
        padding-left: 10px;
    }
    #envio{
        position: relative;
        margin: 70px auto;
        width: 220px;
    }
    #envio h2, p{
        position: relative;
        text-align: center;
    }
    #enviar{    
     left: 33%;    
    }
}


